@model Prueba_IIP.Model.ViewModel.LoginViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="row">
    <div class="col-12">
        @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { role = "form", }))
        {
                @Html.AntiForgeryToken()
                
                @Html.LabelFor(d => d.usuario)
                @Html.TextBoxFor(d => d.usuario, new { @class = "form-control" })
                @Html.LabelFor(d => d.clave)
                @Html.TextBoxFor(d => d.clave, new { @class = "form-control" })
                
                <br />
                <div style="text-align:left;">
                    <input type="submit" class="btn btn-success" value="Guardar" />
                </div>}
    </div>
</div>

